datasets/*
logs/*
OLD/*

.DS_Store

.env/
.venv/

__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/
*.nbconvert.ipynb

*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm

.vscode/
.idea/
